.territory__container{
   
}

.unitCounter{
    text-align: center;
    color: white;
    font-weight: 800;
    border: 1px solid white;
    border-radius: 50%;
    background-color: black;
}

.selections{
    
}